body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#f0f;
  font-family:sans-serif;
}
.business-card {
  width:350px;
  background-color:pink;
  border:1px solid #096;
  border-radius:8px;
  overflow:hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display:flex;
  align-items: center;
}
.profile-pic{
  width:120px;
  height:120px;
  border-radius:110%; 
  object-fit:cover;
  margin:20px;
}
.card-content{
  padding:20px;
}
.card-content h1{
  margin-top:0;
  font-size:1.5em;
}